<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    
    <!-- modules node provides basic information about the module -->
    <modules>
        <!-- This node's name has to be the same as module's full name 
        including namespace -->  
        <CoreTech_Utils>
            <version>0.0.1</version> 
        </CoreTech_Utils>
    </modules>
</config>
